<!DOCTYPE HTML>
<html lang="en">
<head>
 
   <link rel="stylesheet" href="{{url_for('static', filename='vendor/materialize.min.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome.min.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename='vendor/animate-dist.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename='vendor/main.css')}}">
   
   <!--

     *****************      *********     *****        *****      *******     ***     ***     ******     *****
    ****   ****   *****     ****         ***          ***  ***    ***         ***     ***     ***        **
   ****    ****    *****    *********    ***  *****   ********    *******     ***     ***      ******    ******
   ****    ****    *****    ****         ***   **     ***  ***    ***         ***     ***          ***   **
   ****    ****    *****    *********      *****      ***  ***    ***          *********       *******   ******

   Technologies
   -->