{% include 'header.html' %}

<title> Login:: Admin Dashboard </title>
    <script src="{{ url_for('static', filename='scripts/app.js')}}"></script>
    <script>
      var app = new App();
      //app.login();

    </script>

</head>

<body bgcolor="#000">
  <!--<form method="POST" id="formLogin">-->
  <div class="row">

  <div class="col s4 offset-s4 animated fadeIn" style="background: #FFF;padding: 20px;margin-top: 45px">
    <h3 class="pink-text Raleway"> Login </h3>
    <div class="divider"></div>
    <br>
    <form method="POST">
   <label for="email"> Email Address </label>
   <input type="text" name="email" placeholder="name@domain.com" id="email">

   <label for="pass"> Password </label>
   <input type="password" name="pass" id="pass">
    <br>

    <button type="submit" class="btn-flat pink white-text">
        Continue <i class="fa fa-chevron-circle-right"></i>
    </button>

      </form>
  </div>

  </div>

     <center class="grey-text"> <a href="/" >Home </a> &nbsp; | &copy; copyright </center>

</body>
</html>
