 <div class="sidelayout-nav">

        <div class="sidelayout-div">
          <h5><i class="fa fa-signal"></i> Plagiarism Checker </h5>
        </div>
        <ul>
          <li>
            <a href="/dashboard">Home </a>
          </li>
          <li>
            <a href="/add-new">Add Write Up </a>
          </li>
          <li>
            <a href="/view">Manage Write Up </a>
          </li>
          <li>
            <a href="/sign-out">Sign Out </a>
          </li>
        </ul>
    </div>
